html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: none; }
  a a:hover {
    cursor: pointer; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.header-buttons {
  padding: 8px; }

.button-primary {
  border: 0;
  background: #47cf73;
  color: black; }

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  border: 0; }

.sidebar {
  background: #1F1F26; }
